b {
    color: var(--orange);
}

.reactTyped {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

/* customize cursor */
.reactTyped::after {
    content: '|';
    font-size: 4.5rem;
    color: var(--orange);
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

.description {
  width: 60%;
  font-size: 1.2rem;
}

