.App {
  display: flex;
  margin: auto; 
}

.Hero {
  position: relative;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any other styling you need for the Hero section */
}

.scrollDown {
  position: fixed;
  bottom: 70px;
  left: 40px;
  writing-mode:vertical-rl;
  line-height: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: .85em;
  letter-spacing: 0.25em;
  z-index: 100;
}

.scrollDownIndicator {
  position: fixed;
  bottom: 0px;
  left: 45px;
  height: 70px;
  width: 1px; /* 2rem */
  background-color: white; 
  transition: all 0.3s ease; /
}


.scrollDown.hidden,
.scrollDownIndicator.hidden {
  transform: translateY(180%); /* Optional: Adjust if you want a smooth transition */
}

