@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background-color: #1c1c1c;
  --orange: #ee712e;
  --white: #ffffff;
  --hover-color: #ffffffa8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif, Arial, Helvetica;
  background-color: var(--background-color);
  color: var(--white);
}